
@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham-book/GothamBook.eot');
	src: local('GothamBook'),
		url('../fonts/gotham-book/GothamBook.woff') format('woff'),
		url('../fonts/gotham-book/GothamBook.ttf') format('truetype');
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #96a6a7;
	background-color: #f3f1f2;
	font-family: 'GothamBook';
}
