
@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham-book/GothamBook.eot');
	src: local('GothamBook'),
		url('../fonts/gotham-book/GothamBook.woff') format('woff'),
		url('../fonts/gotham-book/GothamBook.ttf') format('truetype');
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #96a6a7;
	background-color: #ffffff;
	font-family: 'GothamBook';
}

.primary{
	color: #1baf5d;
}

.primary-bg{
	background-color: #1baf5d;
}

ul li{
	list-style: none;
}

ul li{
	display: inline-block;
}

.right{
	float: right;
}

.all-items{
	overflow: hidden;
}

/****** Header ******/


.navbar-default {
    background: none;
    border: none;
}

.navbar-brand img{
	height: 32px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	color: #c2bdbf;
	text-transform: uppercase;
	line-height: 30px;
}

.nav-items{
	float: right;
}

.search,
.login{
	float: left;
}


.search a {
    display: inline-block;
    padding: 15px 26px;
    font-size: 14px;
    background-color: #e2dee0;
    color: #fff;
}


.login a {
	position: relative;
    display: inline-block;
    padding: 15px 26px;
    font-size: 14px;
    background-color: #e94e38;
	color: #fff;
	text-transform: uppercase;
}

.login a:after {
	position: absolute;
	content: "";
	left: 100%;
	top: 0;
	bottom: 0;
	right: -2000px;
	background-color: #e94e38;
}

.search-area{
	background: url('./../img/banner.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	color: #fff;
	margin-top: -29px;
}

.search-pan {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: rgba(0,0,0,0.3);
    border-color: #5a543d;
    height: 52px;
    color: #fff;
}

.search-area h1{
	margin-top: 61px;
	text-align: center;
	margin-bottom: 36px;
}

input {
    margin-top: 21px;
}

#submit {
    text-align: center;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    -webkit-border-radius: 22px;
    background-color: #e94e38;
    border: none;
	padding: 13px 17px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

#submit:hover {
    background-color: #ec6554;
}


.selcet-icon {
	position: relative;
}
.selcet-icon .form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
}
.selcet-icon:after {
	content: "\f107";
	position: absolute;
	right: 27px;
	top: 10px;
	font-family: "fontAwesome";
	color: #fff;
	font-size: 25px;
	pointer-events: none;
}